/* the board */
table.board {
	padding: 0;
	border-spacing: 0;
	border: 0;

	margin-left: auto; 
    margin-right: auto;
	text-align: center;
}

/* each square in board */
td.square:hover {
	color: black;
	background-color: lightgray;
}

td.squareBlack {
	color: white;
	background-color: black;
}
td.squareWhite {
	background-color: white;
}

/* clicked square */
td.clicked {
	background-color: green;
}

/* possible move */
td.possibleMove {
	border: 1px solid red;
}

/* board game div */
div#board_game {
	overflow: hidden;
	width: 100%;
	text-align: center;
}

/* div that covers board */
div#board_div {
	width: 100%;
	text-align: center;	
	margin-left: auto; 
    margin-right: auto;
}

/* message */
div#msg {
	position: fixed;

	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;

	padding: 10px;
	text-align: center;
	color: black;

	right: 10;
	bottom: 10;
	width: 200px;
	height: 30px;

	background-color: rgba( 100, 200, 0, 0.4 );

	opacity: 0;
}