/* the board */
table.board {
	padding: 0;
	border-spacing: 0;
	border: 0;

	
	margin-left: auto; 
    margin-right: auto;

	text-align: center;
}

/* each square in board */
td.square:hover {
	color: black;
	background-color: lightgray;
}

td.squareBlack {
	color: white;
	background-color: black;
}
td.squareWhite {
	background-color: white;
}

/* clicked square */
td.clicked {
	background-color: green;
}

/* board game div */
div#board_game {
	overflow: hidden;
	width: 100%;
}

/* div that covers board */
div#board_div {
	float: left;

	padding: 20px;
}
